/* Copyright 2021 Pi Fisher (3geek14)
 * 
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * 
 *     http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

body {
  color: #444;
  background: #fefefe;
  font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
  font-size: 12px;
  line-height: 1.7;
  padding: 1em;
  margin: auto;
  max-width: 42em;
}

@media only screen and (min-width: 480px) {
  body {
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

pre, code {
  color: #000;
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 0.98em;
  background-color: #f6f8fa;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 16px;
  border: 3px;
  border-color: #111;
  border-style: double;
}

.example {
  background-color: #f6f8d8;
  padding: 16px;
  border: 3px;
  border-color: #111;
  border-style: double;
}

a {
  color: #08f;
  text-decoration: none;
}

a:visited {
  color: #08f;
}

a:hover {
  color: #2af;
}

a:active {
  color: #faa700;
}

a:focus {
  outline: thin dotted;
}

p {
  margin: 1em 0;
}

h1, h2, h3 {
  color: #111;
}

ul, ol {
  margin: 1em 0;
  padding: 0 0 0 2em;
}

ul ul, ol ol {
  margin: .3em 0;
}

table {
  border-bottom-color: #ddd;
  border-right-color: #ddd;
}

table th {
  background-color: #eee;
  border-top-color: #ddd;
  border-left-color: #ddd;
}

table td {
  border-top-color: #ddd;
  border-left-color: #ddd;
}

@media (prefers-color-scheme: dark) { /* default colours in comments */
  body {
	color: #eee; /* 444 */
	background: #333; /* fefefe */
  }
  
  pre, code {
	color: #2d2; /* 000 */
	background-color: #000; /* f6f8fa */
  }
  
  .example {
	background-color: #331; /* f5f8d8 */
	border-color: #ccc; /* 111 */
  }
  a {
    color: #2af; /* 08f */
  }
  
  a:visited {
    color: #2af; /* 08f */
  }
  
  a:hover {
    color: #4cf; /* 2af */
  }
  
  a:active {
    color: #fc9; /* faa700 */
  }
  
  h1, h2, h3 {
    color: #ccc; /* 111 */
  }
  
  table {
	border-bottom-color: #111; /* ddd */
    border-right-color: #111; /* ddd */
  }
  
  table th {
    background-color: #222; /* eee */
	border-top-color: #111; /* ddd */
    border-left-color: #111; /* ddd */
  }
  
  table td {
	border-top-color: #111; /* ddd */
    border-left-color: #111; /* ddd */
  }
  
  table tr:nth-child(even) {background: #222} /* eee */
  table tr:nth-child(odd) {background: #333} /* fff */
}